header {
  position: relative;
  width: 80%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 35px;
  box-shadow: 0px 0px 50px -20px #00f6ff;
  margin-top: 2rem;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
}
.mobile-menu {
  display: none !important;
}
.logo-area img {
  max-width: 90%;
  object-fit: contain;
}
.header img {
  max-width: 100%;
  object-fit: contain;
}
.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.center-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
header .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .menu li {
  display: inline-block;
}
header .menu li a {
  font-size: 1.8rem;
  font-weight: 500;
  color: #00498a;
  margin-right: 1.9rem;
}
header .menu li button {
  font-size: 1.8rem;
  font-weight: 500;
  color: #00498a;
  margin-right: 1.9rem;
}
header .menu li:last-child a {
  margin-right: 0;
}

header .menu li:last-child button {
  margin-right: 0;
}

.connect-wallet {
  padding: 1.1rem 0 0.5rem;
  max-width: 25rem;
  width: 100%;
  font-size: 2rem !important;
  background-color: #00c8f7;
  border-radius: 4rem;
  color: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  gap: 10px;
  font-weight: bold;
  justify-content: center;
}
.connect-wallet img {
  max-width: 15%;
  object-fit: contain;
}
.header_connect {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
}
.menu li a {
  text-decoration: none;
}
.cross {
  display: none !important;
}
.header_connect a img {
  max-width: 13%;
}
.menu .header_arcane_box a,
.menu .header_connect a {
  padding: 1.2rem 1.3rem 0.8rem 1.3rem;
  color: #3adf00 !important;
  font-size: 2rem !important;
  background-color: #f3fcff;
  border-radius: 2.1rem;
}

.menu .header_arcane_box button,
.menu .header_connect button {
  padding: 1.2rem 1.3rem 0.8rem 1.3rem;
  color: #3adf00 !important;
  font-size: 2rem !important;
  background-color: #f3fcff;
  border-radius: 2.1rem;
}
.scroll {
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.soon {
  position: relative;
}
.soon:before {
  content: "comming soon";
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  color: white;
  background-color: #00c8f7;
  height: auto;
  width: max-content;
  font-size: 1rem;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
  padding: 3px 10px;
}
/*======================
  Hamburger-menu style
========================*/
/* .hamburger-menu {
  cursor: pointer;
  display: none;
}


.hamburger-menu span {
  background: #00498a;
  width: 3rem;
  height: 0.2rem;
  display: block;
  margin: 0.5rem 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hamburger-menu:hover .line-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.hamburger-menu:hover .line-bottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.hamburger-menu .line-top.current {
  -webkit-transform: translateY(365%) rotate(135deg);
  -ms-transform: translateY(365%) rotate(135deg);
  transform: translateY(365%) rotate(135deg);
}
.hamburger-menu .line-center.current {
  opacity: 0;
}
.hamburger-menu .line-bottom.current {
  -webkit-transform: translateY(-325%) rotate(-135deg);
  -ms-transform: translateY(-325%) rotate(-135deg);
  transform: translateY(-325%) rotate(-135deg);
} */
.hamburger {
  max-width: 13%;
  object-fit: contain;
}
.desktop-connect {
  display: flex;
}
.mobile-connect {
  display: none;
}
.right-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2e3190;
  border: 0.5rem solid #fff;
  padding: 0.3rem 1.2rem;
  border-radius: 2.5rem;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  margin-right: 3rem;
  user-select: none;
}
.switch::before {
  content: "";
  position: absolute;
  left: -0.07rem;
  top: -0.05rem;
  height: 3.48rem;
  width: 3.48rem;
  border-radius: 50%;
  background-color: #15c6f7;
  transition: 0.3s;
}
.switch.active::before {
  transform: translateX(5.48rem);
}
.switch.active {
  background-color: #efefef;
  box-shadow: 0 0 1.2rem rgb(217, 217, 217, 0.8);
}
.switch img {
  width: 2.2rem;
}
.switch img:first-child {
  margin-right: 2rem;
}
.arcane-box-mobile {
  display: none;
}
.switch-mobile {
  display: none !important;
}
@media screen and (max-width: 1600px) {
  header {
    width: 95%;
  }
}
@media screen and (max-width: 1414px) {
  header {
    width: 100%;
    border-radius: 0px;
    margin-top: 0rem;
  }
}
@media screen and (max-width: 1347px) {
  header .menu li a {
    font-size: 1.6rem;
    margin-right: 1.9rem;
  }

  header .menu li button {
    font-size: 1.6rem;
    margin-right: 1.9rem;
  }
  .menu .header_arcane_box a,
  .menu .header_connect a {
    font-size: 1.8rem !important;
  }
  .connect-wallet,
  .arcane-box-mobile {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1247px) {
  .desktop-connect {
    display: none;
  }
  .mobile-connect {
    display: flex;
  }
  .soon:before {
    top: 50%;
    right: 30%;
    transform: translate(50%, -50%);
  }
  .bottom-border {
    padding: 1rem 0rem;
    width: 100%;
    border-bottom: 2px solid lightgray;
    margin-top: 2rem !important;
  }
  .mobile-menu .icon-div {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 12px;
  }
  .icon-div a i {
    font-size: 2.5rem;
  }
  .switch {
    display: none !important;
  }
  .bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    width: 100%;
  }
  .bottom-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0rem 1rem;
  }
  .bottom .switch {
    margin-right: 0rem;
  }
  .bottom-bottom .header_arcane_box a {
    font-size: 1.2rem !important;
  }
  .header_connect .arcane-box-mobile {
    display: flex;
    padding: 0;

    background-color: #f3fcff;
    border-radius: 2.1rem;
    justify-content: center;
    text-decoration: none;
    align-items: center;
  }
  .arcane-box-mobile a {
    color: #3adf00 !important;
    text-decoration: none;
  }
  .mobile-menu {
    display: flex !important;
  }
  header {
    z-index: 10;
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 60%;
    background-color: #fff;
    text-align: center;
    top: 0;
    right: -1000%;
    z-index: 1025;
    padding-top: 7rem;
    transition: 0.4s;
    justify-content: flex-start !important;
    flex-direction: column;
    padding-top: 9rem;
  }
  .index_dark .menu {
    background-color: #313131;
  }
  .menu.current {
    right: 0;
  }
  header .menu li {
    display: block;
    margin-top: 2.5rem;
    margin-right: 0;
  }
  header .menu li a {
    margin-right: 0;
  }
  header .menu li button {
    margin-right: 0;
  }
  .hum_col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header_connect a {
    margin-top: 0;
  }
  .header_connect {
    margin: 1rem 0rem;
    gap: 10px;
  }
  .connect-wallet,
  .arcane-box-mobile {
    width: 22rem;
    padding: 0;
    height: 5rem;
    font-size: 1.5rem !important;
  }
  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(201, 246, 255, 0.4);
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 1024px;
    opacity: 0;
  }
  .overlay.current {
    pointer-events: all;
    opacity: 1;
  }
  .cross {
    display: flex !important;
    position: absolute;
    right: 10%;
    top: 1rem;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .cross i {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    background-color: grey;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_connect img {
    max-width: 3rem;
  }
  .hamburger-menu {
    cursor: pointer;
    display: block;
  }
  .switch-mobile {
    padding: 0.6rem 1.2rem;
    display: flex !important;
  }
  .left-header {
    width: 17%;
  }
  .right-head {
    justify-content: flex-end;
  }
  header {
    justify-content: space-between;
    padding: 0rem 3rem;
  }
}
@media screen and (max-width: 948px) {
  .soon:before {
    top: 50%;
    right: 15%;
    transform: translate(50%, -50%);
  }
}
@media screen and (max-width: 647px) {
  .left-header {
    width: 25%;
  }
  .logo_area img {
    max-width: 100%;
    object-fit: contain;
  }
  .connect-wallet,
  .arcane-box-mobile {
    width: 15rem;
    font-size: 1.3rem !important;
  }
  .arcane-box-mobile {
    font-size: 1.2rem !important;
  }
}
@media screen and (max-width: 538px) {
  .soon:before {
    transform: translate(50%, -50%);
    content: "soon";
    top: 43%;
    right: 19%;
  }
}
@media screen and (max-width: 443px) {
  .left-header {
    width: 23%;
  }
  .menu {
    width: 80%;
  }
}
