.find {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 5rem auto;
  gap: 3rem;
}
.find-top {
  position: relative;
}
.small {
  font-size: 6.4rem;
  color: #00498a;
  font-weight: 500;
  position: absolute;
  top: 1.3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}
.big {
  font-size: 9rem;
  color: #ebebff;
  font-weight: 500;
}
.find-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.comp {
  max-width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 950px) {
  .comp {
    max-width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .small {
    font-size: 4.7rem;
  }
  .big {
    font-size: 6.6rem;
  }
  .bg-triangle {
    padding-top: 5rem;
  }
}
@media screen and (max-width: 511px) {
  .small {
    font-size: 3.5rem;
  }
  .big {
    font-size: 4.6rem;
  }
}
