.mystery-index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: visible;
  position: relative;
  gap: 50px;
}
.letter-abs {
  position: absolute;
  top: -15%;
  right: 3%;
  max-width: 20%;
  object-fit: contain;
}
.mystery-index * {
  overflow: visible !important;
}
.left-mystery-index {
  flex: 0.4;
  overflow-y: hidden;
}
.left-mystery-index img {
  max-width: 120%;
  margin-left: -10rem;
  object-fit: contain;
  animation: bounce 2s infinite alternate linear;
}
.right-mystery-index {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-left: 3px solid #c0f3f6;
  flex: 0.6;
  padding-left: 4rem;
}
.right-mystery-index h1,
.right-mystery-index p {
  color: #00498a;
  font-weight: normal;
}
.right-mystery-index h1 {
  font-size: 4rem;
}
.sup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.sup sup {
  top: -15px;
  position: relative;
  font-size: 1.7rem;
}
.grey {
  font-size: 2rem;
  margin-left: 20px;
  background-color: #f0f0f0;
  color: #a8a8a8;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 25px;
}
.mid-index {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.quantity-index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.quantity-index p {
  font-weight: bold;
  font-size: 1.5rem;
}
.input-div-index {
  overflow-y: hidden !important;
  position: relative;
}
.increment,
.decrement {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 2.2rem !important;
  position: absolute;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
}
.increment {
  top: 22%;
  right: 26%;
  transform: rotate(90deg) translateY(-50%);
}
.decrement {
  top: 45%;
  right: 26%;
  transform: rotate(90deg) translateY(-50%);
}
.quantity-index input {
  padding: 0px 10px;
  height: 55px;
  width: 100px;
  color: #a8a8a8;
  font-size: 1.7rem;
  border: none;
  font-weight: bold;
  margin: 14px 0px;
  border-radius: 10px;
}
.connect1 {
  padding: 1.1rem 0 0.5rem;
  max-width: 25rem;
  width: 100%;
  border-radius: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  gap: 10px;
  justify-content: center;
}
.index-btn {
  font-size: 1.5rem;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #00c8f7;
  color: white;
}
.currency {
  max-width: 65px;
  object-fit: contain;
}
.index-rarity-div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.index-rarity {
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1.6rem;
  color: white !important;
  margin: 0px 0px;
}
.silver-rarity {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #cdced1);
}
.gold-rarity {
  background: linear-gradient(to bottom, #ba812b, #fad258);
}
.epic-rarity {
  background: linear-gradient(to bottom, #721668, #e425cf);
}
.diamond-rarity {
  background: linear-gradient(to bottom, #71c4ff, #84edff);
}
.challenger-rarity {
  background: linear-gradient(to right, #d6b76c, #47340d);
}

.light-blue {
  color: #13c6f7 !important;
}
.bottom-right-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1210px) {
  .right-mystery-index h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .letter-abs {
    position: absolute;
    top: -7%;
    right: -2%;
    max-width: 21%;
    object-fit: contain;
  }
  .left-mystery-index img {
    max-width: 100%;
    margin: 0;
  }
  .right-mystery-index h1 {
    font-size: 4rem;
  }
  .mystery-index {
    flex-direction: column;
  }
  .right-mystery-index {
    border-left: none;
    align-items: center;
    border-top: 3px solid #c0f3f6;
    padding-left: 0px;

    padding-top: 4rem;
    width: 100%;
  }
  .bottom-right-index {
    padding-inline: 3rem;
  }
  .index-rarity-div {
    justify-content: flex-start;
    margin-top: 2rem;
  }
  .index-rarity {
    margin: 0;
  }
  .mid-index {
    justify-content: center;
  }
  .quantity-index {
    align-items: center;
  }
}
@media screen and (max-width: 709px) {
  .right-mystery-index h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 652px) {
}
@media screen and (max-width: 600px) {
  .index-rarity-div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}
@media screen and (max-width: 532px) {
  .letter-abs {
    top: -6%;
    right: -1%;
    max-width: 22%;
  }
}
@media screen and (max-width: 447px) {
  .sup {
    font-size: 2.1rem !important;
  }
}

