.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
}
.close-box {
  color: black;
  font-size: 2.2rem;
  position: absolute;
  right: 6%;
  top: 10%;
  cursor: pointer;
  z-index: 20;
}
.open-box-slider {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transition: all 1s ease-in-out;
  min-height: 60vh;
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
  transform: translate(-50%, -50px);
  opacity: 0;
  z-index: -1;
  max-height: 580px;
  height: 100%;
}

.down-box {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 10;
}
.overlay-2 {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  transition: all 0.5s ease-in-out;
  width: 100vw;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.down {
  opacity: 1;
  z-index: 4;
}
.left-slider-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0.3;
}
.girl-img {
  max-width: 100%;
  object-fit: contain;
  z-index: -1;
  left: -0.5%;
  height: 114%;
  position: absolute;
}
.right-slider-box {
  flex: 0.7;
  gap: 20px;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(0px);
  height: 100%;
}
.slide-box-mid img {
  cursor: pointer;
}
.rarity-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.rarity-box {
  font-size: 2rem;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 20px;
}
.bio-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.bio-div h1 {
  color: black;
  font-size: 2.5rem;
}
.desc-bio {
  width: 80%;
  border: 1px solid #c0c0c0;
  padding: 2rem;
  font-size: 1.7rem;
  border-radius: 20px;
  line-height: 1.7;
  color: black;
}
.owners-div {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.owners-div img {
  max-width: 15%;
  object-fit: contain;
}
.owners-div p {
  text-align: center;
  color: #c0c0c0;
  font-weight: bold;
  font-size: 2rem;
}
.slide-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border-radius: 25px;
  gap: 20px;
  padding: 1.5rem 2rem;
  margin: 1rem 0rem;
}
.slide-box-top {
  width: 100%;
}
.slide-box-top img {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
}
.slide-box-mid,
.slide-box-last {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.slide-box-mid h2 {
  color: inherit;
}
.arc-name {
  color: #2b2b2b;
  font-size: 5rem;
}
.arc-title {
  position: relative;
}
.arc-title::before {
  width: 250px;
  height: 50px;
  content: "";
  left: 100%;
  background-image: linear-gradient(to right, transparent, #d8e1ed);
  border-radius: 50px;
  top: 0;
  position: absolute;
}
.Silver {
  color: white;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, #cdced1 10%);
  box-shadow: 6px 0px 20px 5px rgba(255, 255, 255, 0.3);
}
.Gold {
  color: white;
  background: radial-gradient(circle, #ba812b 0%, #fad258 10%);
  box-shadow: 6px 0px 20px 5px #fad258;
}
.Diamond {
  color: white;
  background: linear-gradient(to bottom, #71c4ff, #84edff);
  box-shadow: 6px 0px 20px 5px #84edff;
}
.Epic {
  color: white;
  background: linear-gradient(to bottom, #721668, #e425cf);
  box-shadow: 6px 0px 20px 5px #e425cf;
}
.Legendary {
  color: white;
  background: linear-gradient(to right, #d6b76c, #47340d);
  box-shadow: 6px 0px 20px 5px #d6b76c;
}
.blue {
  background-color: #e1ffff;
  color: #34aff4;
  box-shadow: 6px 0px 20px 5px #bdfbff;
}
.purple {
  background-color: #f3ebff;
  color: #8157cb;
  box-shadow: 6px 0px 20px 5px #eedbfa;
}
.green {
  background-color: #c3e8e1;
  color: #53cf96;
  box-shadow: 6px 0px 20px 5px #a7ecd4;
}
.yellow .rarity {
  background-color: #feedb4;
  border-radius: 25px;
  padding: 10px 15px;
}
.blue .rarity {
  background-color: #bceaf8;
  border-radius: 25px;
  padding: 10px 15px;
}
.green .rarity {
  background-color: #feedb4;
  border-radius: 25px;
  padding: 10px 15px;
}
.purple .rarity {
  background-color: #f4c4e3;
  border-radius: 25px;
  padding: 10px 15px;
}
.rarity {
  color: inherit;
}
.splide__arrow {
  top: 100% !important;
  width: 6em !important;
  height: 6em !important;
  background-color: white !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 50% !important;
}
.splide__arrow svg {
  font-size: 22px !important;
}
.splide__arrow--prev {
  left: 1em !important;
}
.splide__arrow--next {
  right: 1em !important;
}
.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .splide {
  height: 55vh !important;
} */
.slider button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  background-color: #00c8f7;
  border-radius: 27px;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 5px 20px;
  cursor: pointer;
}
.eye-div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-image: linear-gradient(to top, #13013b, rgba(19, 1, 58, 0.4));
  width: 60%;
  height: 83%;
  display: grid;
  border-radius: 50px;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}
.slide-box:hover .eye-div {
  pointer-events: initial !important;
  opacity: 1;
}
.slide-box:hover .eye-div img {
  pointer-events: initial !important;
  opacity: 1;
}

.eye-div img {
  max-width: 100%;
  width: 50%;
  object-fit: contain;
  cursor: pointer;
  pointer-events: none;
}
.open-eye {
  pointer-events: initial !important;
  opacity: 1;
}
.dekstop-img-slider {
  display: block;
}
.mobile-img-slider {
  display: none;
}
@media screen and (max-width: 1643px) {
  .splide__arrow--prev {
    left: 1em !important;
  }
  .splide__arrow--next {
    right: 1em !important;
  }
}
@media screen and (max-width: 1310px) {
  .arc-title::before {
    width: 180px;
  }
}
@media screen and (max-width: 1160px) {
  .mobile-top {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0.3;
    width: 100% !important;
    text-align: center;
    gap: 20px;
  }
  .arc-title::before {
    display: none;
  }
  .desktop-img-slider {
    display: none;
  }

  .mobile-img-slider {
    display: block;
    position: static;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: 60%;
  }
  .open-box-slider {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 40px;
    max-height: none;
    height: auto;
    padding: 4rem 0rem;
  }

  .close-box {
    top: 4%;
  }
  .overlay-2 {
    top: -20%;
    height: 140vh;
  }
  .right-slider-box,
  .bio-div {
    align-items: center;
    text-align: center;
  }
  .left-slider-box {
    flex: 0.4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-slider-box {
    justify-content: center;
    padding: 0;
    flex: 0.3;
    height: auto;
  }
  .owners-div {
    align-self: centerd;
  }
}
@media screen and (max-width: 1000px) {
  .splide__arrow {
    top: 80% !important;
  }
}
@media screen and (max-width: 738px) {
  .arc-name {
    font-size: 4rem;
  }
}
@media screen and (max-width: 652px) {
  .splide__arrow {
    width: 4em !important;
    height: 4em !important;
    top: 90% !important;
  }
  .overlay-2 {
    top: -10%;
    height: 160vh;
  }
}
@media screen and (max-width: 600px) {
  .overlay-2 {
    top: -20%;
    height: 160vh;
  }
  .mobile-img-slider {
    width: 100%;
  }
}
@media screen and (max-width: 581px) {
  .arc-name {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 520px) {
  .open-box-slider {
    width: 95%;
  }
  .arc-name {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .close-box {
    top: 1%;
  }
  .desc-bio {
    width: 90%;
  }
  .overlay-2 {
    top: -20%;
    height: 140vh;
  }
}
