.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: visible;
  margin-top: 4rem;
}
.card-div-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.card-div-buy img {
  object-fit: contain;
  max-width: 100%;
}
.card-div-buy i {
  font-size: 2.4rem;
  color: white;
  background-color: #02c8f7;
  padding: 5px 35px;
  border-radius: 25px;
  cursor: pointer;
}
.girl,
.bag {
  position: absolute;
  object-fit: contain;
}
.girl {
  right: 0;
  bottom: -7%;
  max-width: 30%;
  z-index: 4;
}
.bag {
  left: -15%;
  bottom: -9%;
  max-width: 32%;
}
@media screen and (max-width: 1423px) {
  .girl {
    bottom: -6%;
  }
}
@media screen and (max-width: 1193px) {
  .girl {
    bottom: -4%;
  }
}
@media screen and (max-width: 841px) {
  .buy {
    min-height: 70vh;
  }
  .girl {
    right: 0;
    bottom: -7%;
    max-width: 40%;
    z-index: 4;
  }
  .bag {
    left: -15%;
    bottom: -9%;
    max-width: 32%;
  }
}
@media screen and (max-width: 649px) {
  .buy {
    min-height: 70vh;
    margin-top: 0rem;
  }
  .girl {
    right: 0;
    bottom: -4%;
    max-width: 40%;
    z-index: 4;
  }
}
@media screen and (max-width: 484px) {
  .buy {
    min-height: 60vh;
  }
  .girl {
    right: 0;
    bottom: -4%;
    max-width: 40%;
    z-index: 4;
  }
}
@media screen and (max-width: 400px) {
  .buy {
    min-height: 50vh;
  }
  .bag {
    max-width: 45%;
  }
}
