.token_hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  overflow: visible;
  margin-top: 2rem;
}
.token-hero * {
  overflow: visible;
}
.token_hero-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
/* .token_hero-left h1 {
  color: #8d8d8d;
  font-size: 6rem;
  font-weight: 500;
} */
.token_hero-left > p {
  color: #8d8d8d;
  font-size: 1.7rem;
}

.left-bg-div {
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 60px;
}
.bg-box {
  position: relative;
}
.text-div-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-box p:nth-of-type(1) {
  color: #00498a;
  font-size: 5.5rem;
  font-weight: bold;
  width: max-content;
}
.bg-box p:nth-of-type(2) {
  color: #00498a;
  font-size: 1.6rem;
  font-weight: bold;
  width: max-content;
}
.bg-box img {
  max-width: 321px;
  object-fit: contain;
  max-height: 211px;
}
.buy-arcane-div {
  display: flex;
  align-items: center;
  width: 85%;
  overflow: visible;
  justify-content: space-between;
}
.address-div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  position: relative;
  gap: 5px;
  overflow: visible;
}
.abosulte-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  left: 0;
  width: 100%;
  top: 0;
  border-radius: 25px;
  z-index: 10;
  background-color: rgba(0, 200, 247, 0.8);
  color: white;
  font-size: 1.8rem;
  gap: 10px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.abosulte-copy:hover,
.abosulte-copy:focus {
  opacity: 1;
}
.address-div p {
  color: #8d8d8d;
  font-size: 1.8rem;
}
.address-div p:first-of-type {
  margin-left: 10px;
  position: absolute;
  top: -25%;
}
.address-div span {
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 2px 10px 0px rgb(0 0 0 / 60%);
}

.address-div span::before {
  content: "";
  width: 35%;
  max-width: 1200px;
  height: 100%;
  background: linear-gradient(
    333deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100%
  );
  position: absolute;
  z-index: 0;
  transform: translateX(-50%);
  border-radius: 50%;
  filter: blur(9px);
  right: -110px;
  top: 0;
}
.buy-arcane-div button {
  box-shadow: none !important;
}
.token-hero-social {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2rem;
  gap: 10px;
}
.token-hero-social p {
  color: #8d8d8d;
  font-size: 1.8rem;
}
.token_hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
}
.token_hero-right img {
  max-width: 100%;
  object-fit: contain;
}
.token_hero-right::before {
  content: "";
  position: absolute;
  background-image: url("../../../Assets/Token/Elements-59.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: 21%;
  top: 27%;
  z-index: -1;
}
.desktop-token {
  display: block;
}
.mobile-token {
  display: none;
}
@media screen and (max-width: 1600px) {
  .token_hero {
    width: 92%;
  }
}
@media screen and (max-width: 1478px) {
  .address-div p,
  .address-div span {
    color: #8d8d8d;
    font-size: 1.6rem;
  }
  .token_hero {
    padding: 0rem 4rem;
    width: 100%;
  }
  .bg-box img {
    max-width: 255px;
  }
}
@media screen and (max-width: 1378px) {
  .bg-box img {
    max-width: 190px;
  }
  .bg-box:nth-of-type(2) img {
    max-width: 110px;
  }
  .buy-arcane-div {
    width: 100%;
  }
  .bg-box p:nth-of-type(2) {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1349px) {
  .address-div p,
  .address-div span {
    color: #8d8d8d;
    font-size: 1.4rem;
  }
  /* .bg-box p {
    font-size: 3.4rem;
  } */
  .token_hero {
    max-width: 100%;
    padding: 0rem 4rem;
  }
}
@media screen and (max-width: 1168px) {
  .token_hero {
    flex-direction: column;
  }
  .bg-box:nth-of-type(2) img {
    max-width: 110px;
  }
  .abosulte-copy {
    inset: 0;
  }
}
@media screen and (max-width: 770px) {
  .desktop-token {
    display: none !important;
  }
  .mobile-token {
    display: block;
  }
  .bg-mobile-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5rem;
    flex-direction: column;
    margin: 2rem 0rem;
  }
  .row-1-bg {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .bg-box-mobile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .bg-box-mobile h1 {
    font-size: 5rem;
  }
  .bg-box-mobile p {
    font-size: 1.6rem;
  }
  .letter {
    box-shadow: none !important;
  }
  .address-div p,
  .address-div span {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 653px) {
  .address-div p,
  .address-div span {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 653px) {
  .address-div p,
  .address-div span {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 545px) {
  /* .token_hero-left .find-top {
    min-height: 140px;
  }
  .token_hero-left .find-top .small {
    font-size: 4.5rem;
    left: 25%;
    height: auto;
  }
  .token_hero-left .find-top .big {
    font-size: 5rem;
  } */
}
@media screen and (max-width: 500px) {
  .bg-box-mobile h1 {
    font-size: 36px;
  }
  .address-div {
    width: 100%;
  }
  .buy-arcane-div {
    width: 100%;
  }
  .bg-mobile-box {
    width: 100%;
  }
}
