.home,
.shape-wrapper,
.token,
.mystery-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  width: 100%;
}
.shape-wrapper {
  background-image: url("../../Assets/hero-shape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-triangle-2 {
  background-image: url("../../Assets//bg_shape.png");
  mix-blend-mode: multiply;
  padding-top: 26rem;
  min-height: 100vh;
  padding-bottom: 6rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-triangle {
  background-image: url("../../Assets//find-bg.png");
  mix-blend-mode: multiply;
  padding-top: 15rem;
  min-height: 100vh;
  padding-bottom: 6rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1600px) {
  .home {
    width: 100%;
  }
}
@media screen and (max-width: 1140px) {
  .home {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .home {
    width: 100%;
  }
  .bg-triangle-2 {
    padding-top: 10rem;
  }
}
@media screen and (max-width: 600px) {
  .home {
    margin-top: 2rem;
  }
}
