.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3fcff;
  padding: 2rem 0rem;
  width: 100%;
}
.footer-left {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}
.social-div-footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
  border-top: 2px solid #707070;
  align-items: center;
  gap: 20px;
}
.social-icon,
.footer-logo {
  max-width: 100%;
  object-fit: contain;
}
.footer-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 60px;
}
.footer-right_col1,
.footer-right_col2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.footer-right_col1 h2,
.footer-right_col2 h2 {
  color: #00498a;
  font-weight: 500;
  font-size: 2.6rem;
  margin-bottom: 0.5rem;
}
.footer-right_col1 a,
.footer-right_col2 a {
  color: #00498a;
  margin-bottom: 0.2rem;
  font-weight: normal;
  font-size: 1.9rem;
  text-decoration: none;
  cursor: pointer;
}

.icon-div a img {
  max-width: 100%;
  object-fit: contain;
}
.icon-div a {
  width: 60px;
}
.icon-div a:first-child {
  margin-bottom: -0.7px;
}
.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1178px) {
  .footer {
    flex-direction: column;
    gap: 40px;
  }
}
@media screen and (max-width: 730px) {
  .footer-left {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .social-div-footer {
    flex-direction: column;
  }
}
