.mystery-box {
  min-height: 100vh;
  height: auto;
  gap: 6rem;
}
.white-box {
  min-height: 100vh;
  height: auto;
  width: 78%;
  background-color: white;
  border-radius: 35px;
  margin: 2rem 0rem;
  padding-top: 5rem;
  overflow: visible;
  box-shadow: 0px 0px 50px -20px #00f6ff;
}
.bg-black {
  background-color: #262626;
}
@media screen and (max-width: 1600px) {
  .white-box {
    width: 93%;
  }
}
@media screen and (max-width: 1414px) {
  .white-box {
    width: 95%;
  }
}
